@using identityPractice.ViewModels
@model ForgotPasswordViewModel

@{
    ViewData["Title"] = "ForgotPassword";
}

<h1>ایمیل خود را وارد کنید</h1>
<div>
    <form asp-controller="Login" asp-action="ForgotPassword" method="post">
        <div asp-validation-summary="ModelOnly"></div>

        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <br  />
        <div class="form-group">
            <button type="submit" class="btn btn-primary">ارسال</button>
        </div>
    </form>
</div>