@using identityPractice.ViewModels
@model ResetPasswordViewModel

@{
    ViewData["Title"] = "ResetPassword";
}

<h1>رمز عبور جدید را وارد کنید</h1>

<div>
    <form asp-controller="Login" asp-action="ResetPassword" method="post">
        <div asp-validation-summary="ModelOnly"></div>
       
        <input type="hidden" name="Email" value="@Model.Email" >
        <input type="hidden" name="Token" value="@Model.Token">


        <label asp-for="NewPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="NewPassword" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>

        <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <button type="submit" class="btn btn-primary">تایید</button>
        </div>
    </form>
</div>