@using identityPractice.ViewModels
@model VerifyTwoFactorViewModel

@{
    ViewData["Title"] = "احراز هویت دو مرحله ای ";
}

<h1>یک کد به ایمیلتان ارسل شد لطفا آن را وارد کنید</h1>
<div>
    <form asp-controller="Login" asp-action="VerifyTwoFactor" method="post">
        <div asp-validation-summary="ModelOnly"></div>

  
        <input type="hidden" name="HomePhoneNumber" value="@Model.HomePhoneNumber">
        @if (ViewData["ErrorMessage"]!= null)
        {
            <div class="text-danger">@ViewData["ErrorMessage"]</div>
        }

        <label asp-for="Code" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Code" class="form-control" />
            <span asp-validation-for="Code" class="text-danger"></span>
        </div>

        <br />
        <div class="form-group">
            <button type="submit" class="btn btn-primary">تایید</button>
        </div>
    </form>
</div>